* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-full-screen-centred {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader {
  margin-bottom: 30px;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}
